# Controllers
/src/main/java/com/team701/buddymatcher/controllers/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/controllers/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/controllers/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/controllers/users/ @uoa-ypec413 @jafarmaash

# Services
/src/main/java/com/team701/buddymatcher/services/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/services/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/services/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/services/users/ @uoa-ypec413 @jafarmaash

# Repositories
/src/main/java/com/team701/buddymatcher/repositories/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/repositories/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/repositories/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/repositories/users/ @uoa-ypec413 @jafarmaash

# Domain
/src/main/java/com/team701/buddymatcher/domain/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/domain/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/domain/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/domain/users/ @uoa-ypec413 @jafarmaash

# DTO
/src/main/java/com/team701/buddymatcher/dto/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/dto/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/dto/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/dto/users/ @uoa-ypec413 @jafarmaash

# Service Tests
/src/main/java/com/team701/buddymatcher/services/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/services/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/services/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/services/users/ @uoa-ypec413 @jafarmaash

# Repository Tests
/src/main/java/com/team701/buddymatcher/repositories/communication/ @ejstuart @uoa-ppat965 @NicholasBatesNZ @dogeliness
/src/main/java/com/team701/buddymatcher/repositories/pairing/ @ff-dev-45 @rayaway2020 @shreyasingaraju
/src/main/java/com/team701/buddymatcher/repositories/timetable/ @dlee432 @ThomasHolsterUOA
/src/main/java/com/team701/buddymatcher/repositories/users/ @uoa-ypec413 @jafarmaash

# Shared
/src/main/java/com/team701/buddymatcher/BuddyMatcherApplicationTests.java @ejstuart @ff-dev-45 @ThomasHolsterUOA @jafarmaash
